ul{
    list-style-type: none;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(3, 85, 116);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    margin: 0;
}

li a{
    text-decoration: none;
    margin: auto;
    margin-right: 40px;
    color: azure;
    border: 2px solid rgb(3, 85, 116);
    padding: 20px;
}

li :hover{
    border: 2px solid rgb(37, 125, 157);
    background-color: rgb(37, 125, 157);
    
}

body{
    margin: 0;
    background-color: rgb(97, 181, 211);
}

h1{
    text-align: center;
    font-family: sans-serif;
}

.maps{
    overflow: hidden;
    max-width: 100%;
    width: 400px;
    height: 300px;
    float: left;
    margin-left: 130px;
    margin-right: 80px;
    margin-bottom: 112px;
    outline-style: groove;
    outline-color: rgb(3, 85, 116);
}

.iframe{
    height: 100%;
    width: 100%;
}

.form-control{
    height: 40px;
    width: 600px;
    border-radius: 10px;
}

textarea{
    height: 40px;
    width: 600px;
    position: relative;
    border-radius: 10px;
}

.btn{
    padding: 5px;
    margin-top: 15px;
    border-radius: 7px;
    background-color: green;
    color: whitesmoke;
    font-family: sans-serif;
}

table{
    outline-style: groove;
    margin-right: 50px;
    background-color: azure;
}

/* social media icons styling
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
/* #footer {
    background-color: #808080;
    text-align: center;
} */ 

.footer{
    width: 1366px;
    height: 50px;
    background-color: rgb(3, 85, 116);
    display: flex;
    align-items: last baseline;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
}

.icon{
    margin-left: 650px;
    margin-bottom: 6px;
}

.footer a{
    margin-right: 10px;
}