ul{
    list-style-type: none;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(3, 85, 116);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    margin: 0;
}

li a{
    text-decoration: none;
    margin: auto;
    margin-right: 40px;
    color: azure;
    border: 2px solid rgb(3, 85, 116);
    padding: 20px;
}

li :hover{
    border: 2px solid rgb(37, 125, 157);
    background-color: rgb(37, 125, 157);
    
}

body{
    margin: 0;
    background-color: rgb(97, 181, 211);
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* /* .ruang1{
    width: 200px ;
    height: 200px;
    background-color: teal;
    color: white;
    border: 1px solid black;
    text-align: center;
    float: left;
    margin-left: 400px;
} */

h4{
    text-align: center;
}

.box1{
    height: 200px;
    width: 280px;
    outline-style: groove;
    margin-left: 200px;
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
}

.box2{
    height: 200px;
    width: 280px;
    outline-style: groove;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 10px;
    float: left;
}

.box3{
    height: 200px;
    width: 280px;
    outline-style: groove;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 30px;
    padding: 10px;
    float: left;
}

.box4{
    height: 200px;
    width: 280px;
    outline-style: groove;
    margin-left: 200px;
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 10px;
    float: left;
}

.box5{
    height: 200px;
    width: 280px;
    outline-style: groove;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    float: left;
}

.box6{
    height: 200px;
    width: 280px;
    outline-style: groove;
    margin-left: 20px;
    margin-right: 100px;
    padding: 10px;
    float: left;
}

.box1 , .box2 , .box3 , .box4 , .box5 , .box6{
    background-color: azure;
    border-radius: 10px;
}

.semuaBox :hover{
    background-color: rgb(218, 224, 226);
    box-shadow: 2px;
}

.box-text :hover{
    outline: none;
}